<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" strict="true"
               name="XMLConfigTest" packages="org.apache.logging.log4j.test">
    <Filter type="ThresholdFilter" level="trace" />

    <Appenders>
        <Console name="ALL">
            <Layout type="PatternLayout" pattern="%m %n" />
        </Console>
        <RollingFile name="rollingFile"
                     fileName="logs/queries.log"
                     filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval = "1" />
                <SizeBasedTriggeringPolicy
                        size="250 MB" />
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="ALL">
            <AppenderRef ref="logs/queries.log" />
            <AppenderRef ref="rollingFile" />
        </Root>
    </Loggers>
    <Appenders>
        <Console name="ERROR">
            <Layout type="PatternLayout" pattern="%m %n" />
        </Console>
        <RollingFile name="rollingFile"
                     fileName="logs/errors.log"
                     filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval = "1" />
                <SizeBasedTriggeringPolicy
                        size="250 MB" />
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="ERROR">
            <AppenderRef ref="logs/errors.log" />
            <AppenderRef ref="rollingFile" />
        </Root>
    </Loggers>


</Configuration>